@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Define theme with fonts */
@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-koulen: 'Hanuman', 'Khmer OS', sans-serif;
  
  /* You can also add it to font families */
  --font-family-sans: var(--font-sans);
  --font-family-hanuman: var(--font-hanuman);
}

.main-text {
  color: #111827;
}
.secoud-text {
  color: #6b7280;
}

.khmer-text {
  font-family: var(--font-hanuman);
  letter-spacing: normal;
  word-spacing: normal;
}


@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .khmer-text {
    font-family: var(--font-hanuman);
    letter-spacing: normal;
    word-spacing: normal;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3b82f6; /* Tailwind blue-500 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
